@font-face {
	font-family: 'Heydings';
	src: url('../lib/font/heydings_icons-webfont.woff') format('woff'), 
         url('../lib/font/heydings_icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.reveal pre {
	width: 110%;
}

.imgBlock img {
	display: inline;
	width: 45%;
}

.imgBlockLarge {
	margin-left: auto;
	margin-right: auto;	
}

.imgBlockLarge img {
	display: inline;
	height: 80%;
}

.reveal section img.bare, .reveal section img.special {
	border: none;
	box-shadow: none;
	background: none;
}

.reveal section img.special {
	position: absolute;
	top: -30%;
}

.reveal section  a.kendo {
	color: #E26B1D;
}

.reveal section span.small, .reveal section p.small {
	font-size: 12pt;
}

.reveal section div.small {
	margin-top: -1.5em;
	font-size: 14pt;
}

.kendo .state-background {
	background: rgba( 255, 127, 0, 0.4);
}
.important .state-background {
	background: rgba( 49, 27, 182, 0.3);
}

embed {
	margin-top: 20px;
}

q i, blockquote i, span.emph {
	color: #71E9F4;
}

.reveal span.strike {
	text-decoration: line-through;
	opacity: .5;
}

.reveal img.expand:hover {
	-webkit-transform: scale(1.5);
}

.reveal img.square {
	border: none;
	box-shadow: none;
	background: none;

	border-radius: 10px;
}

@keyframes slide {  
    from {
        transform: translateX(1%);
    }
    
    50% {
        color: #E26B1D;
    }

    to {  
      transform: translateX(70%);
    }  
}

@-webkit-keyframes slide {  
    from {
        -webkit-transform: translateX(1%);
    }
    
    50% {
        color: #E26B1D;
    }

    to {  
      -webkit-transform: translateX(70%);
    }  
}

#animate {
	background-color: #877777;
	color: #F7F3F3;
	border-radius: 10px;
	height: 150px;
    width: 500px;
	text-align: center;
	margin: 20px;
    
    position: relative;
    top: -350px;
    left: 400px;
}

#animate:before {
	font-size: 96pt;
	font-family: Heydings;
	color: #F3F3F3;
	width: 100%;
	display: block;
}

#animate:before {
   padding-left: 10px;
   padding-right: 10px;
   text-align: left;
   margin-top: 50px;
   position: relative;
   top: 50px;
    
   animation-duration: 3s;  
   animation-name: slide;
   animation-direction: alternate;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
   
   -webkit-animation-duration: 3s;  
   -webkit-animation-name: slide;
   -webkit-animation-direction: alternate;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: ease-in-out;
}

#animate.smiley:before {
     content: 'y';    
} 
